[submodule "libraries/chip8swemu"]
	path = libraries/chip8swemu
	url = https://github.com/AlfonsoJLuna/chip8swemu
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui
